body, ul, li, p{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
}

section {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    border-collapse: collapse;
    margin-top: 2%;
    min-width: 350px;
}

#aboutYou{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 800;
    font-size: 32px;
}

header{
    font-weight: 300;
    padding: 20px;
    border-bottom: 1px solid #d3d3d3;
    border-collapse: collapse;
    background-color: #fafafa;
}

form{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    color: #454649;
    padding: 20px;
    border:none;
    border-collapse: collapse;
}

footer{
    padding: 20px;
    border-top: 1px solid #d3d3d3;
    border-collapse: collapse; 
    text-align: center;   
    background-color: #fafafa;
}

/* apresenta as label em cima dos inputs */
.form div label{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    display: block;
    margin-bottom: 05px;
}

.form .twoI{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 0 auto; */
    grid-column-gap: 15px;
    grid-row-gap: 5px;
}

input, select{
    position: relative;
    width: 100%;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
}

.form .date{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 30px;
}

.form .lang{
    margin-top: 20px;
    margin-bottom: 20px;
}

.last{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 30px;
    text-align: center;
}

.last .buttons{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px;
    justify-items: flex-end;
    /* margin-left: 50px; */
}

.last #text{
    color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 15px;
    align-self: center;
    text-align: left;
    /* justify-items: flex-start; */
}

button{
    padding: 10px 15px;
    border: none;
    max-width: 150px;
    border-radius: 4px;
}

#profile{
    max-width: 120px;
    opacity: 0.85;
    border: 50%;
}

.fa-asterisk{
    color: #565a63;
    content: "*";
    position: absolute;
    right: 3em;
    top: 53.5em;
    font-size: 10px;
}

/* torna o design responsivo */
@media (max-width: 600px){
    .form .twoI{
        grid-template-columns: repeat(1, 1fr);
    }
    #profile{
        max-width: 100px;
        opacity: 0.85;
        border: 50%;
    }
}
.glyphicon-asterisk {
    color: #c0c0c0;
    font-size: 12px;
}

.glyphicon-exclamation-sign{
    color: orange;
    font-size: 12px;
}

.alert{
    visibility: hidden;
    position: absolute;
    top: 70%;
    right: -15px;
    color: orange;    
}

.inputInvalid{
    box-shadow: 1px 1px 5px orange;
    border-color: orange;
}

.inputValid{
    box-shadow: none;
    border-color: #d3d3d3;
}

input:invalid:focus{
    border-color: orange;
}

select{
     appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.selectDateD::after{
    content: "\25bc";
    color: #e84c3d;
    font-size: 12px;
    position: absolute;
    line-height: 30px;
    margin-left: -18px;

} 
.selectDateM::after{
    content: "\25bc";
    color: #e84c3d;
    font-size: 12px;
    position: absolute;
    line-height: 30px;
    margin-left: -18px;
    
} 
.selectDateY::after{
    content: "\25bc";
    color: #e84c3d;
    font-size: 12px;
    position: absolute;
    line-height: 30px;
    margin-left: -18px;
   
} 

.selectL::after{
     content: "\25bc";
    color: #e84c3d;
    font-size: 12px;
    position: absolute;
    line-height: 30px;
    margin-left: -18px;
}

#infoCircle{
    position: absolute;
    color: orange;
    font-size: 12px;
    right: 82%;
}

#infoCircle:hover{
    color: rgb(223, 146, 5);
}

.infoPanel{
    position: absolute;
    display: none;
    top: -76px;
    right: 30%;
    background-color: white;
    color: orange;
    width: 55%;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid orange;
    padding: 10px 0;
}
.infoC:hover .infoPanel{
    display: block;
}

.infoPanel:hover{
    display: block;
}

